body {
    background: rgb(233,19,185);
    background: linear-gradient(326deg, rgba(233,19,185,1) 0%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.conteiner {
    min-width: 20%;
    background-color: rgba(255, 255, 255, 45%);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    position: relative;
}

.buttons {
    display: flex;
    width: 100%;
}

.buttons button {
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.7s;
}

button:hover {
    transform: scale(0.8);
}

button:first-child:active{
    background-color: rgb(37, 212, 37);
    transition: 0.1s;
    transform: scale(1);
}

button:nth-child(2):active{
    background-color: rgb(208, 218, 73);
    transition: 0.1s;
    transform: scale(1);
}

button:nth-child(3):active{
    background-color: rgb(218, 73, 97);
    transition: 0.1s;
    transform: scale(1);
}

#counter {
    color: rgb(157 116 0);
}